@font-face {
    font-family: 'POINAMBALOM LISA';
    src: url('/style/typo/squarex st.ttf');
}

@font-face {
    font-family: 'DEVELOPPEUSE';
    src: url('/style/typo/CascadiaCode-jEZzj.ttf');
}

@font-face {
    font-family: 'NAV';
    src: url('/style/typo/CascadiaCode-jEZzj.ttf');
}

@font-face{
    font-family: 'CODEBARRE';
    src: url('/style/typo/BarcodeFont.ttf');
}

body{
    margin: 0;
    padding: 0;
    background-color:#f7e7ef;
    

}

.container{
    display:flex;
    flex-direction: column;
    padding-top: 0.2rem;

    
}
h1{
    
    font-family:"POINAMBALOM LISA";
    letter-spacing:0.2em;
    color:#1751bc;
    margin-bottom: 0.2rem;
    font-size: 4rem;
    transform: translateX(6em);
}

h3{
    
    font-family:"DEVELOPPEUSE";
    letter-spacing:0.2em;
    color:#1751bc;
    font-size: 2em;
    margin-top:0;
    transform: translateX(30em);
    
}

nav{
    display:flex;
    flex-direction:column;
    gap:5rem;
    padding-left: 2rem;
    padding-top: 5rem;
    

    
}
nav a{
    text-decoration: none;
    color:#1751bc;
    font-family: 'NAV';    
}
nav a:hover{
    color:#e1235a;
}
.premiereZone{
    display:flex;
    height: 100vh;
    
    
}
.premiereZone nav {
  width: 220px; /* largeur fixe */
    padding: 2rem;
    display: flex;
    flex-direction: column;
    gap: 4rem;
    padding-top: 8rem;
}

.passeport{
    background-color:#7f9ae5 ;
    height: 25rem;
    width: 40rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 4rem;

    
}
.passeportInside{
    background-color:#c2d1f2 ;
    height: 23rem;
    width: 38rem;
    border-radius: 1rem;
    
    
}
.allpasseport{
    padding-left: 25rem;
    padding-top: 8rem;
}

.passeportVideo{
    width: 9rem;
    height: 100%;
    object-fit: cover;
    float: right;
    
}

.imageprofil{
    width: 15rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 1rem;
    padding-left: 1rem;
    object-fit: cover;
   
}

.imageprofil img {
    width: 100%;
    height: 17rem;
    object-fit: cover;
   

}

.couleurline{
    background-color:#e1235a;
    height: 1.7rem;
    width: 100%;
    margin-top: 0.4rem;

}

.codebarre{
    font-family: 'CODEBARRE';
    color:#e1235a;
    font-size: 2.5rem;
    text-decoration: none;
    margin-top: 0.2rem;
    
    
}
.codebarre:hover{
    color:#1751bc;
}

.passeportTitle{
    font-family: 'NAV';
    width: 12rem;
    height: 19rem;
    float: right;
    margin-top: 1rem;
    color: #1751bc;
   
    

}

.passeportTitle h4{
    
    text-align: center;
    font-size: 2rem;
    margin: 0;
    

}


.passeportTitle a{
    display:flex;
    text-decoration: none;
    color:#1751bc;
    padding-top: 1.5rem;
    padding-bottom: 1rem;
    font-size: 0.8rem;
    
    
    
    
    
}
.passeportTitle a:hover{
    color:#e1235a;  }
    
























@media (max-width: 1200px) {
    h1 {
        font-size: 3rem;
        transform: translateX(5em);
    }

    h3 {
        font-size: 1.5rem;
        transform: translateX(15em);
    }
}

@media (max-width: 1024px) {
    h1 {
        font-size: 2.5rem;
        transform: translateX(3em);
    }

    h3 {
        font-size: 1.2rem;
        transform: translateX(8em);
    }
}


@media (max-width: 768px) {
    h1 {
        font-size: 1.6rem;
        transform: translateX(1em);
    }

    h3 {
        font-size: 1rem;
        transform: translateX(2em);
    }
}
